body {
  text-align: center;
  background-color: #ffffff;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 20%;
  margin-left: 20%;
  background-color: white;
}

iframe.example {  width: 80%;  height: 600px; }


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: #1374cf;
}
